@import "http://fonts.googleapis.com/earlyaccess/notosanstc.css";

@media screen and (max-width: 575px){
	div.header-user-info a{
		font-size: .9em;
		padding:0px 5px;
	}
}

@media screen and(min-width: 576px) and (max-width: 767px) {
	div.Caption {
		font-size: 0.8em;
	}
	div.header-user-info{
		font-size: 16px;
	}
	
}

@media screen and(min-width: 768px) and (max-width: 991px) {
	.Caption {
		font-size: 1.5em;
	}
	.header-user-info a{
		font-size: 17px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#navbarSupportedContent a.nav-lin{
		font-size: 1em;
	}
}

@media screen and( min-width : 1200px) {
	.Caption {
		font-size: 2em;
	}
}

img{
  max-width:100%;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.secondnavbar{
	padding: 0;
}

/*for navbar menber function style*/
.header-area .header-top {
	border-bottom: 1px solid #d3d3d3;
}

.header-default {
	color: #6e6e6e;
	font-size: 18px;
	line-height: 40px;
}

.header-default p {
	margin: 0;
}

.header-user-info {
	padding: 10px 0;
	text-align: right;
}

.header-user-info a {
	border-left: 1px solid #f1f2f2;
	color: #252525;
	font-size: 18px;
	line-height: 20px;
	padding-left: 14px;
	margin-right: 10px;
}

.header-user-info a:hover {
	transition: all .3s ease 0s;
	color: #009A86;
	text-decoration: none;
}

/* for navbar regular buttom style*/
#navbarSupportedContent a.nav-link {
	padding: 0 20px;
	font-size: 18px
}

#navbarSupportedContent a:hover {
	color: #009A86;
}

